.game-banner {
  /* display: flex; */
  /* flex-direction: column;
  align-items: center; */
  background-color: #0e1015;
}

.banner-content {
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 16px;
}

.game-title h1 {
  margin: 0px 0px 0px 25px;
  color: white;
  font-size: 32px;
  font-family: "Krona One", sans-serif;
  text-transform: uppercase;
}

.game-ratings {
  display: flex;
  justify-content: space-between;
  width: 50%;
  gap: 32px;
}

.ratings-section,
.user-rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
}

.rating-label {
  margin-bottom: 37px;
  color: white;
  font-size: 12px;
  font-family: "Krona One", sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.rating-score {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Krona One", sans-serif;
}

.rating-score img {
  width: 20px; /* Ajustando o tamanho da estrela para corresponder à imagem */
  height: 20px;
  margin-right: 8px;
}

.rating-score span {
  font-size: 24px; /* Tamanho da fonte para os números */
  color: #eceaeb; /* Cor do número principal */
}

.rating-score .out-of {
  font-size: 24px; /* Tamanho da fonte para o "/10" */
  color: #787b81; /* Cor do "/10" */
  margin-left: 2px;
}

.user-rating .user-rate {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ff003f;
  font-size: 16px;
  font-family: "Krona One", sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 8px;
}

.user-rate img {
  width: 20px; /* Ajustando o tamanho da estrela para corresponder à imagem */
  height: 20px;
  margin-right: 4px;
}
.rate-button :hover {
  opacity: 0.8;
}
.rate-button {
  opacity: 10px;
  padding: 8px 16px;
  background-color: #d5224e;
  color: #fff;
  cursor: pointer;
  font-family: "Krona One";
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  border: none;
  border-radius: 8px;
  color: white;
  font-family: "Krona One", sans-serif;
  text-transform: uppercase;
  margin-top: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}

.banner-images {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.cover-image,
.gameplay-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.cover-image {
  max-width: 433px;
}

.gameplay-image {
  max-width: 801px;
}
