.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 63px;
  background-color: #0e1015;
  height: 80px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px;
}

.menu-container {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: 40px;
}

.menu-icon {
  width: 24px;
  height: 24px;
}

.menu-text {
  color: white;
  font-size: 18px;
  font-family: "Krona One", sans-serif;
  text-transform: uppercase;
}

.search-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin-left: 40px;
  margin-right: 40px;
  position: relative;
}

.search-icon {
  position: absolute;
  left: 12px;
  width: 20px;
  height: 20px;
  opacity: 0.5;
}

.search-input {
  width: 100%;
  padding: 10px 12px 10px 40px;
  background-color: #1b1d23;
  border: none;
  border-radius: 8px;
  color: white;
  font-family: "Karla", sans-serif;
  font-size: 16px;
  outline: none;
}

.login-button {
  padding: 10px 24px;
  background-color: #d5224e;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.login-text {
  color: white;
  font-size: 16px;
  font-family: "Krona One", sans-serif;
  text-transform: uppercase;
}
